[Unit]
Description=mksrv node-exporter

[Container]
ContainerName=mksrv-node-exporter
Image={{ .Image "node-exporter" | default "quay.io/prometheus/node-exporter:v1.8.2" }}
Network=mksrv-monitor.network
Volume=/:/host:ro,rslave
Exec=--path.rootfs=/host --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($|/)

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
